body {
  font-family: Arial;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
  margin: 0;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

input, select, button {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  background: #22c55e;
  color: white;
  cursor: pointer;
}

.card {
  background: #1e293b;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

@media(max-width:768px){
  .grid {
    grid-template-columns: 1fr;
  }
}